.navigation-side-bar {
  min-height: 100vh;
  max-width: 127px;
  background: linear-gradient(to bottom, var(--main), var(--main-dark));
  border-radius: 56px 0 0 56px;

  padding: 57px 32px 0 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 84px;

  .icons-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 44px;
    .icon-list_item {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 64px;
      height: 64px;
      padding: 14px;
      border-radius: 16px;
      &:hover {
        background-color: var(--side-icon-bg);
      }

      &.active {
        background-color: var(--side-icon-bg);
      }

      .icon-svg {
        fill: var(--white);
      }
    }
  }
}
