.problem-zone-item {
  display: flex;
  align-items: center;
  gap: 16px;
  .problem-zone-item-icon {
    fill: var(--warn-mark);
    width: 30px;
    height: 30px;

    &.danger {
      fill: var(--danger-mark);
    }
  }

  .problem-zone-item__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .problem-zone-item__title {
      font-size: 14px;
      font-weight: 600;
      color: var(--secondary-text);
      line-height: 18px;
    }

    .problem-zone-item-container {
      display: flex;
      gap: 5px;
      font-size: 18px;
      font-weight: 700;
      line-height: 120%;
    }
  }
}
