:root {
  --main: #54d3c2;
  --white: #ffffff;
  --gray-bg: #f8f8f8;
  --main-text: #323f47;
  --secondary-text: #6d7986;
  --side-icon-bg: #a9e9e0bf;
  --revenue-chart: #73cf7a;
  --expenses-chart: #30c7dc;
  --profit-chart: #45aaf2;
  --arrears-chart: #f5e230;
  --result-chart: #ac74fc;
  --danger-mark: #fc5c65;
  --warn-mark: #f7b731;
}
