@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova_regular.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova_bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Proxima Nova', sans-serif;
  display: flex;
  justify-content: center;
}
