.statistic-header {
  width: 100%;
  background-color: var(--main);
  border-radius: 0 57px 0 0;
  .statistic-header__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 55px 0 55px 40px;
    border-radius: 56px 56px 0 0;
    background-color: var(--white);
  }
}
