.statistic-main-section {
  background-color: var(--gray-bg);
  height: 100%;
  border-radius: 56px 56px 0 0;
  padding: 28px 40px 0 40px;

  .statistic-main-section__title {
    color: var(--main-text);
    font-weight: 800;
    font-size: 28px;
    line-height: 44px;
    padding-bottom: 20px;
  }
}
