.statistic-main-section {
  background-color: var(--gray-bg);
  height: 100%;
  border-radius: 56px 56px 0 0;
  padding: 28px 40px 0 40px;

  .statistic-main-section__title {
    color: var(--main-text);
    font-weight: 800;
    font-size: 28px;
    line-height: 44px;
    padding-bottom: 20px;
  }

  .statistic-main-section__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 35px;

    .info-section {
      grid-column: 1 / 3;
    }

    .problem-zone-section {
      grid-column: 3 / 4;
      grid-row: 1 / 3;
    }

    .chart-section {
      grid-column: 1 / 3;
    }
  }
}
