.tabs-container {
  display: flex;
  align-items: center;
  max-width: 883px;
  overflow: hidden;
  gap: 40px;
  overflow: visible;
  .buttons-container {
    display: flex;
    gap: 8px;
    align-items: center;

    .prev-button {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(180deg);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      background: transparent;
      box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.3);
      transition: color 0.3s;
      cursor: pointer;
      &:disabled {
        opacity: 0.5;
      }
      .prev-button-icon {
        fill: var(--secondary-text);
      }
    }

    .next-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      background: transparent;
      box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.3);
      transition: color 0.3s;
      &:disabled {
        opacity: 0.5;
      }
      cursor: pointer;
      .next-button-icon {
        fill: var(--secondary-text);
      }
    }
  }

  .tabs-wrapper {
    max-width: 754px;
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    border-bottom: 1px solid var(--secondary-text);
    position: relative;

    .tab-button {
      padding: 10px 0 0 0;
      color: var(--inactive-text);
      background: transparent;
      border: none;
      cursor: pointer;
      transition: color 0.3s;
      font-size: 16px;
      position: relative;
      letter-spacing: 0.44px;
      &.active {
        color: var(--main-text);
        font-weight: bold;
        border-bottom: 1px solid var(--main);
      }
    }
  }
}

.tabs-wrapper::-webkit-scrollbar {
  display: none;
}
