.tabs-container {
  display: flex;
  align-items: center;
  max-width: 55.1875rem; // 883px;
  gap: 40px;
  overflow: visible;

  .buttons-container {
    display: flex;
    gap: 8px;
    align-items: center;

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      background: transparent;
      box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.3);
      transition: opacity 0.3s;
      cursor: pointer;

      &:disabled {
        opacity: 0.5;
      }

      .button-icon {
        fill: var(--secondary-text);
      }
    }

    .button-prev {
      transform: rotate(180deg);
    }
  }
  .tabs-container {
    padding-bottom: 4px;
    overflow: hidden;
    max-width: 47.125rem; // 754px;

    .tabs-wrapper {
      max-width: 87.5rem; // 1400px;
      display: flex;
      gap: 40px;
      scroll-behavior: smooth;
      white-space: nowrap;
      border-bottom: 2px solid var(--inactive-text);
      .tab-button {
        color: var(--inactive-text);
        background: transparent;
        border: none;
        cursor: pointer;
        transition: color 0.3s;
        font-size: 16px;
        letter-spacing: 0.44px;
        padding-bottom: 15px;
        position: relative;
        &.active {
          color: var(--main-text);
          font-weight: bold;

          &::after {
            content: '';
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 6px;
            border-radius: 10px;
            background-color: var(--main);
          }
        }
      }
    }
  }
}

.tabs-container::-webkit-scrollbar {
  display: none;
}

// .tabs-wrapper::-webkit-scrollbar {
//   display: none;
// }
