.tabs-container {
  // display: flex;
  // align-items: center;
  position: relative;
  // max-width: 883px;
  // overflow: hidden;
}

.tabs-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  padding: 0 40px;
}

.tabs-wrapper::-webkit-scrollbar {
  display: none;
}
.tabs-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tab-button {
  padding: 10px 20px;
  color: gray;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
  font-size: 16px;
}

.tab-button.active {
  color: black;
  font-weight: bold;
  position: relative;
}

.tab-button.active::after {
  content: '';
  display: block;
  height: 2px;
  background-color: teal;
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0;
}

// .nav-button {
// position: absolute;
// background: white;
// border: none;
// cursor: pointer;
// padding: 5px 10px;
// font-size: 20px;
// }

// .nav-button.left {
//   left: 0;
// }

// .nav-button.right {
//   right: 0;
// }

// .nav-button:disabled {
// opacity: 0.5;
//   cursor: not-allowed;
// }
