.statistic-info-block {
  max-width: 264px;
  max-height: 168px;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;

  .statistic-info-block-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 28px;
    font-weight: 600;
    color: var(--main-text);
  }

  .statistic-info-block__division {
    font-size: 16px;
    font-weight: 600;
    color: var(--main-text);
  }

  &.active {
    background-color: var(--main);

    .statistic-info-block-wrapper {
      color: var(--white);
    }

    .statistic-info-block__division {
      color: var(--white);
    }
  }
}
